In [1]:
import pandas as pd
import numpy as np

## 创建数据

### 生成DataFrame
> df = pd.DataFrame(data=None, index=None, columns=None)
columns： 列索引、表头
- 字典生成
- Series生成

In [2]:
df = pd.DataFrame({
    '国家': ['中国', '美国', '日本'],
    '地区': ['亚洲', '北美', '亚洲'],
    '人口': [13.97, 3.28, 1.26],
    'GDP': [14.34, 21.43, 5.08]
})

In [3]:
df

   国家  地区     人口    GDP
0  中国  亚洲  13.97  14.34
1  美国  北美   3.28  21.43
2  日本  亚洲   1.26   5.08

In [4]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
df['人口']

0    13.97
1     3.28
2     1.26
Name: 人口, dtype: float64

In [6]:
s = pd.Series([14.34, 21.43, 5.08], name='gdp')
s

0    14.34
1    21.43
2     5.08
Name: gdp, dtype: float64

### 生成Series

> s = pd.Series(data, index=index)

- 使用列表和元组直接放入pd.Series()
- 使用ndarry
- 使用字典
- 使用标量

In [7]:
s = pd.Series([13.97, 3.28, 1.26])
# s = pd.Series((13.97, 3.28, 1.26))
s

0    13.97
1     3.28
2     1.26
dtype: float64

In [8]:
s = pd.Series(np.random.random(5), index=['a', 'b', 'c', 'd', 'e'])
# 查看索引
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
# 不指定索引
s = pd.Series(np.random.random(5))
s

0    0.402839
1    0.903817
2    0.277295
3    0.593740
4    0.242490
dtype: float64