In [1]:
import pandas as pd
import numpy as np

In [2]:
# 原数据
df = pd.DataFrame({
    'A':['a1', 'a1', 'a2', 'a2'],
    'B':['b1', 'b2', None, 'b2'],
    'C':[1, 2, 3, 4],
    'D':[5, 6, None, 8],
    'E':[5, None, 7, 8]
})
df

    A     B  C    D    E
0  a1    b1  1  5.0  5.0
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0
3  a2    b2  4  8.0  8.0

In [3]:
# 将无穷值设为缺失值
pd.options.mode.use_inf_as_na = True

C:\Users\yukiyan\AppData\Local\Temp\ipykernel_19004\2405361220.py:2: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.options.mode.use_inf_as_na = True

缺失值判断

In [4]:
df.isna()

       A      B      C      D      E
0  False  False  False  False  False
1  False  False  False  False   True
2  False   True  False   True  False
3  False  False  False  False  False

In [5]:
# 对指定列检测缺失值
df.D.isna()

0    False
1    False
2     True
3    False
Name: D, dtype: bool

In [6]:
# 将非缺失值显示为True
df.notna()

      A      B     C      D      E
0  True   True  True   True   True
1  True   True  True   True  False
2  True  False  True  False   True
3  True   True  True   True   True

缺失值统计

In [7]:
pd.Series([True, True, False]).sum()

2

In [8]:
# 计算每列的缺失值
df.isnull().sum()

A    0
B    1
C    0
D    1
E    1
dtype: int64

In [9]:
# 计算每行的缺失值
df.isnull().sum(1)

0    0
1    1
2    2
3    0
dtype: int64

缺失值筛选

In [13]:
df

    A     B  C    D    E
0  a1    b1  1  5.0  5.0
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0
3  a2    b2  4  8.0  8.0

In [14]:
# 有缺失值的行
df.loc[df.isna().any(axis=1)]

    A     B  C    D    E
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0

In [16]:
# 有缺失的列
df.loc[:, df.isna().any()]

      B    D    E
0    b1  5.0  5.0
1    b2  6.0  NaN
2  None  NaN  7.0
3    b2  8.0  8.0

In [17]:
# 查询没有缺失值的行
df.loc[~(df.isna().any(axis=1))]

    A   B  C    D    E
0  a1  b1  1  5.0  5.0
3  a2  b2  4  8.0  8.0

In [18]:
# 查询没有缺失的列
df.loc[:, ~(df.isna().any())]

    A  C
0  a1  1
1  a1  2
2  a2  3
3  a2  4

In [20]:
s = pd.Series([1, 2, None, 4], dtype='Int64')
s

0       1
1       2
2    <NA>
3       4
dtype: Int64

In [21]:
# pd.NA 是一个缺失值
pd.isna(pd.NA)

True

缺失值的操作

In [22]:
# 缺失值填充
# 原数据
df = pd.DataFrame({
    'A':['a1', 'a1', 'a2', 'a2'],
    'B':['b1', 'b2', None, 'b2'],
    'C':[1, 2, 3, 4],
    'D':[5, 6, None, 8],
    'E':[5, None, 7, 8]
})

df

    A     B  C    D    E
0  a1    b1  1  5.0  5.0
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0
3  a2    b2  4  8.0  8.0

In [23]:
# 将缺失值填充为0
df.fillna(0)

    A   B  C    D    E
0  a1  b1  1  5.0  5.0
1  a1  b2  2  6.0  0.0
2  a2   0  3  0.0  7.0
3  a2  b2  4  8.0  8.0

插值填充

In [24]:
s = pd.Series([1, 2, None, 4])

# 插值填充,该方法在缺失处默认线性插值
'''
method='linear'     # 线性
method='quadratic'  # 二次插值
method='pchip'      # 使数据呈现累积分布
method='akima'      # 填补默认值以平滑绘图
'''
s.interpolate()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [25]:
s

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

缺失值删除

In [26]:
df

    A     B  C    D    E
0  a1    b1  1  5.0  5.0
1  a1    b2  2  6.0  NaN
2  a2  None  3  NaN  7.0
3  a2    b2  4  8.0  8.0

In [27]:
# 删除有缺失值的行
df.dropna()

    A   B  C    D    E
0  a1  b1  1  5.0  5.0
3  a2  b2  4  8.0  8.0

In [29]:
# 删除有缺失值的列
df.dropna(axis=1)

    A  C
0  a1  1
1  a1  2
2  a2  3
3  a2  4

缺失值参与计算

In [31]:
# 对列求和,忽略缺失值，将其按0处理
df[['C', 'D', 'E']].sum()

C    10.0
D    19.0
E    20.0
dtype: float64

In [32]:
df.D.cumsum()

0     5.0
1    11.0
2     NaN
3    19.0
Name: D, dtype: float64

 数据替换

In [33]:
# 值替换
ser = pd.Series([0., 1., 2., 3., 4.])
ser

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [35]:
ser.replace(0, 5)

0    5.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

数据修剪

In [38]:
# 包含极端值的数据
df = pd.DataFrame({'a': [-1, 2, 5], 'b': [6, 1, -3]})
df

   a  b
0 -1  6
1  2  1
2  5 -3

In [39]:
# 修剪成最大3最小0
df.clip(0, 3)

   a  b
0  0  3
1  2  1
2  3  0