In [4]:
import pandas as pd

# 以下两种效果一样，如果是网址，它会自动将数据下载到内存
# df = pd.read_excel('https://www.gairuo.com/file/data/dataset/team.xlsx')
# df = pd.read_excel('team.xlsx') # 文件在notebook文件同一目录下
# 如果是CSV，使用pd.read_csv()，还支持很多类型的数据读取

读取数据
使用DataFrame df 读取

In [ ]:
df = pd.read_excel('../data/team.xlsx')

In [10]:
df

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

查看数据

In [12]:
# 查看前5条
df.head()
# 查看后5条
# df.tail()
# 随机查看5条
# df.sample()

    name team  Q1  Q2  Q3  Q4
0  Liver    E  89  21  24  64
1   Arry    C  36  37  37  57
2    Ack    A  57  60  18  84
3  Eorge    C  93  96  71  78
4    Oah    D  65  49  61  86

验证数据

In [17]:
# 查看行数和列数
# df.shape
# 查看所有、数据类型和内存信息
# df.info()
# 查看数值类型列的汇总统计
# df.describe()
# 查看各字段类型
# df.dtypes
# 显示数据行和列名
# df.axes
# 查看列名
df.columns

Index(['name', 'team', 'Q1', 'Q2', 'Q3', 'Q4'], dtype='object')

简历索引

In [ ]:
# 创建索引并生效
df.set_index('name', inplace=True)